
.clang_complete

.gcc-flags.json

.pioenvs/.sconsign.dblite

.pioenvs/do-not-modify-files-here.url

.pioenvs/structure.hash

.pioenvs/uno/firmware.elf

.pioenvs/uno/firmware.hex

.pioenvs/uno/FrameworkArduino/_wiring_pulse.o

.pioenvs/uno/FrameworkArduino/abi.o

.pioenvs/uno/FrameworkArduino/CDC.o

.pioenvs/uno/FrameworkArduino/HardwareSerial.o

.pioenvs/uno/FrameworkArduino/HardwareSerial0.o

.pioenvs/uno/FrameworkArduino/HardwareSerial1.o

.pioenvs/uno/src/main.o

.pioenvs/uno/FrameworkArduino/wiring_analog.o

.pioenvs/uno/FrameworkArduino/wiring_shift.o

*.o

*.a
